#custommenu {
	background: #336600; /* Old browsers */
	background: -moz-linear-gradient(top, #99cc66 0%, #336600 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99cc66),
		color-stop(100%, #336600) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #99cc66 0%, #336600 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #99cc66 0%, #336600 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #99cc66 0%, #336600 100%);
	/* IE10+ */
	background: linear-gradient(top, #99cc66 0%, #336600 100%); /* W3C */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	border: none;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	overflow: visible;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px
		rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px
		rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px
		rgba(0, 0, 0, 0.2) inset;
	-webkit-appearance: none;
	margin-bottom: 5px;
}

#custommenu #navigation {
	display: block;
	height: 36px;
	float: left;
}

#custommenu ul li a:hover {
	box-shadow: inner 0 0 5px #000;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
	background: #444
}

#custommenu ul li a {
	display: inline-block;
	color: #fff;
	line-height: 36px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
	padding: 0 15px;
	border-right: #777 1px solid
}

#custommenu li a,#custommenu li a:visited {
	border-right: 1px solid #777777;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
	padding: 0 15px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
}

#custommenu ul li:hover ul {
	display: inline-block
}

#custommenu ul ul,#custommenu ul li:hover ul ul,#custommenu ul ul li:hover ul ul
	{
	display: none
}

#custommenu ul li:hover ul,#custommenu ul ul li:hover ul,#custommenu ul ul ul li:hover ul
	{
	display: block
}

#custommenu ul li:hover ul li a,#custommenu ul ul li:hover ul li a,#custommenu ul ul ul li:hover ul li a
	{
	border: #777 1px solid;
	margin: -1px 0 0 -11px
}

#custommenu li ul a {
	background: #555
}

#custommenu ul li:hover ul li a {
	width: 150px;
	padding: 0 14px
}

#custommenu li {
	list-style-type: none;
}

#custommenu li ul {
	display: none;
	position: absolute;
	top: 36px;
	left: 10px
}

/* remove all the bullets, borders and padding from the default list styling */
#custommenu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#custommenu li {
	float: left;
	position: relative;
}

#custommenu ul ul li {
	background-color: #FFF;
	border: 0 none;
	display: block;
	font-weight: 400;
	text-decoration: none;
	z-index: 999;
}

#custommenu ul ul li:hover {
	
}


#custommenu #home {
    border-right: 1px solid #777777;
    float: left;
    height: 36px;
    margin-left: 15px;
}

#home a:hover {
    opacity: 0.5;
}
/* style the links for the top level */


/* style the second level background */
	/* hide the sub levels and give them a positon absolute so that they take up no room */
}