@CHARSET "UTF-8";

#page {
	margin: 0 auto;
	width: 980px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	line-height: 1.25;
}

a {
	color: #336600;
	text-decoration: none;
}

a:hover {
	color: #99cc66;
}

p {
	line-height: 17px;
}

.flexible-wrap {
	overflow: scroll;
}

.pagelayout-report #page {
    position: relative;
    width: 980px;
    overflow: hidden;
}

.pagelayout-report .no-overflow {
    overflow: auto;
}




.graph {
	overflow: auto;
}


body,div,p,input,textarea {
	font-size: 13px;
	font-family: 'Arial', Helvetica, serif;
	font-weight: 400;
	color: #555555;
}

#page-header img {
	position: absolute;
}

#page-header {
	height: 96px;
	margin-bottom: 3px;
    margin-top: 2px;
}

.headermenu {
	margin: 7px;
}

.headermenu .logininfo {
	color: #fff;
}

.headermenu .logininfo a {
	color: #fff;
	font-weight: bold;
}

/* Blocks and Content
------------------------*/
.block {
	color: #222;
	margin-bottom: 10px;
	padding: 0px 10px 10px 10px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 0 2px #ccc;
	background: #fff; /* Old browsers */
}

.block .header {
	color: #444;
	text-shadow: none;
	padding: 3px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	margin: 0 -10px 0 -10px;
	padding: 2px 10px 2px 10px;
	border-bottom: 1px solid #aaa;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8),
		color-stop(40%, #ededed), color-stop(100%, #dddddd) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* IE10+ */
	background: linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* W3C */
	filter: progid :           DXImageTransform.Microsoft.gradient (        
		    startColorstr =     
		     '#f8f8f8', endColorstr =           '#dddddd', GradientType =
		        
		 0 );
	/* IE6-9 */
}

.block .header h2 {
	font-size: 18px;
	margin: 0;
}

#region-pre .region-content {
	padding-left: 0px;
}

#region-post .region-content {
	padding-right: 0px;
}

#region-main .region-content .main-content-region {
	padding: 10px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 10px;
}

.generalbox {
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 0 1px #ccc;
	background: #fff;
	margin-bottom: 10px;
	padding: 5px;
}

/* Footer
------------------------*/
#page-footer {
	background: none repeat scroll 0 0 #222222;
	border-top: 2px solid #CCCCCC;
}

#page-footer .container {
	margin: 0 auto;
	width: 980px;
	padding: 10px;
}

#page-footer #mootie-footerlinks {
	float: left;
	position: relative;
}

#page-footer .sitelink {
	float: right;
	position: relative;
}

/* Course
------------------------*/
.course-content .main {
	background: #f7f5f1;
	border: 1px solid #ddd
}

.course-content .current {
	background: #e5fecc;
}

.course-content .current .left.side {
	color: #fff;
}

.course-content .main .content {
	background: #fff;
}

/* Forum
------------------------*/
.forumpost .topic {
	background: #e4e4e4;
	border: 1px solid #b1b1b1;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	padding: 5px 4px 4px;
}

.forumpost .topic .subject {
	font-weight: bold;
	font-size: 1.1em;
}

.forumpost .content .posting {
	max-width: 100%;
	overflow: auto;
	padding: 5px;
}

.forumpost .topic .author {
	font-size: 0.9em;
}

.forumpost .content {
	background: #f7f5f1;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #d9d8d4;
}