/**********************************************************
 * This file contains style information for quiz module   *
 **********************************************************/
#page-mod-quiz-edit div.quizpage .pagecontent {
    background-color: #EDFAE1;
}



#page-mod-quiz-edit .questionbankwindow div.header {

	color: #444;
	text-shadow: none;
	padding: 3px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	margin: 0 -10px 0 -10px;
	padding: 2px 10px 2px 10px;
	border-bottom: 1px solid #aaa;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8),
		color-stop(40%, #ededed), color-stop(100%, #dddddd) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* IE10+ */
	background: linear-gradient(top, #f8f8f8 0%, #ededed 40%, #dddddd 100%);
	/* W3C */
	filter: progid :           DXImageTransform.Microsoft.gradient (        
		    startColorstr =     
		     '#f8f8f8', endColorstr =           '#dddddd', GradientType =
		        
		 0 );
	/* IE6-9 */

}

#page-mod-quiz-edit .questionbankwindow div.header a:link, #page-mod-quiz-edit .questionbankwindow div.header a:visited {
   color: #336600;
}

#page-mod-quiz-edit .questionbankwindow div.header a:hover {
   color: #99cc66;
}


#page-mod-quiz-edit .questionbankwindow div.header .title {
	color: #000;
}


#page-mod-quiz-edit div.container div.generalbox {
	background-color: #EDFAE1;
	padding: 1.5em;
}

#page-mod-quiz-edit .categoryinfo {
    background-color: #FFFFFF;
    border-bottom: medium none;
}

#page-mod-quiz-edit div.questionbank .categorypagingbarcontainer {
    background-color: transparent;
    border-bottom: 1px none transparent;
    border-top: 1px none transparent;
    margin: 0 -1.2em;
    padding: 1em;
}

#page-mod-quiz-edit div.questionbank .categoryquestionscontainer,#page-mod-quiz-edit div.questionbank .categorysortopotionscontainer,#page-mod-quiz-edit div.questionbank .categorypagingbarcontainer,#page-mod-quiz-edit div.questionbank .categoryselectallcontainer
	{
	padding: 0 0 1.5em 0;
}

#page-mod-quiz-edit div.questionbank .categorypagingbarcontainer {
	padding: 1em;
	background-color: transparent;
	margin: 0 -1.2em;
	border-top: none;
	border-bottom: none;
}

#page-mod-quiz-edit div.quizpage .pagecontent {
	border-left: none;
}

/* spaziatura sopra e sotto alla tabella con le domande da spostare */
#page-mod-quiz-edit div.questionbank .categoryquestionscontainer {
	margin: 0 -1.2em -1em -1.2em;
}  /* tabella con le domande da spostare nel quiz*/
#page-mod-quiz-edit div.editq div.question div.content {
	background-color: #FFFFFF;
}  /* la signola domanda nel modello della pagina*/
#page-mod-quiz-edit div.question div.content div.questioncontrols {
	background-color: #FFFFFF;
}  /* la X per eliminare la domanda dal modello della pagina */
#page-mod-quiz-edit div.question div.content div.points {
	margin-top: -0.5em;
	padding-bottom: 0.5em;
	background-color: #EEE;
}  /* il quadratino del grade */
#page-mod-quiz-edit div.question div.content div.points {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#page-mod-quiz-edit div.quizpage .pagecontent .pagestatus {
	background-color: #FFFFFF;
}

#page-mod-quiz-edit .quizpagedelete,#page-mod-quiz-edit .quizpagedelete img
	{
	background-color: transparent;
}

#page-mod-quiz-edit #page-footer {
	padding: 0;
}

.questionbankwindow.block {
    border-width: 0;
    display: block;
    float: right;
    padding-bottom: 0.5em;
    right: 0.3em;
    width: 26%;
}